# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# WASM
/pkg/
/wasm-pack.log
*.wasm

# Documentation
/doc/

# Environment
.env
dist
.xtrshow
.xtrpatch
x.md
x.patch
